.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }
   form button {
     text-align: center;
     margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .sign-up {
    width: 90vw;
  }
}
